@model Weather.Models.ComplexViewModel
@{
    ViewBag.Title = "Weather App";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <h1>@Model.Result.City</h1>
    @{ Html.RenderPartial("Partial/SearchForm", Model.Form);}
</div>
<div class="row">
    <h3>Today</h3>
    <div class="col-lg-4 col-lg-offset-4">
        @{ var first = Model.Result.Units.FirstOrDefault(); }
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td><img src="@Url.Content("http://openweathermap.org/img/w/" + first.Icon + ".png")" alt="Image"/></td>
                    <td><b>@first.Time.ToShortDateString()</b></td>
                </tr>
                <tr>
                    <td>Day Temp</td>
                    <td>@first.DayTemp</td>
                </tr>
                <tr>
                    <td>Night Temp</td>
                    <td>@first.NightTemp</td>
                </tr>
                <tr>
                    <td>Humidity</td>
                    <td>@first.Humidity</td>
                </tr>
                <tr>
                    <td>State</td>
                    <td>@first.State</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>@first.Description</td>
                </tr>

            </table>
        </div>
    </div>
</div>
    @if (Model.Result.Units.Count > 1)
    {
        var count = Model.Result.Units.Count;

        <div class="row">
            <h3>Forcast for next @(count-1) days</h3>
            @foreach (var unit in Model.Result.Units.GetRange(1, count-1))
            {
                int width = Convert.ToInt32(12 / (count - 1));
                <div class="col-lg-@width">
                      
                    <div class="table-responsive">
                        <table class="table">
                            <tr>
                                <td><img src="@Url.Content("http://openweathermap.org/img/w/" + unit.Icon + ".png")" alt="Image" /></td>
                                <td><b>@unit.Time.ToShortDateString()</b></td>
                            </tr>
                            <tr>
                                <td>Day Temp</td>
                                <td>@unit.DayTemp</td>
                            </tr>
                            <tr>
                                <td>Night Temp</td>
                                <td>@unit.NightTemp</td>
                            </tr>
                            <tr>
                                <td>Humidity</td>
                                <td>@unit.Humidity</td>
                            </tr>
                            <tr>
                                <td>State</td>
                                <td>@unit.State</td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>@unit.Description</td>
                            </tr>

                        </table>
                    </div>
                </div>
                    
            }
                    
        </div>

    }
